.personalDetails {
  display: flex;
  width: 45rem;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  gap: 1.1rem;
}

.heading {
  color: var(--color-marine-blue);
}

.subHeading {
  color: var(--color-cool-gray);
}

.details {
  display: flex;
  /* grid-template-columns: 1fr min-content; */
  /* grid-template-rows: max-content 1fr min-content; */
  flex-direction: column;
  gap: 2.4rem;
  padding-top: 2.9rem;
}

.det {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  cursor: pointer;
}

.detHeading {
  color: var(--color-marine-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  color: var(--color-strawberry-red);
}

.input {
  /* border: 1px solid var(--color-cool-gray); */
  padding: 1.6rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  color: var(--color-marine-blue);
}
.input:hover,
.input:active,
.input:focus-visible {
  border: 1px solid var(--color-purplish-blue);
}

.input::placeholder {
  font-weight: 500;
  color: var(--color-cool-gray);
}

.errorMessage {
  font-size: 1.4rem;
  color: var(--color-strawberry-red);
}

.btnNext {
  align-self: flex-end;
  justify-self: end;
  cursor: pointer;
  /* bottom: 2rem; */
  /* margin-top: 3rem; */
}
