.sideBar {
  background-image: url("../../../public/assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  padding: 3.2rem 4rem 8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  height: 56.8rem;
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 0%; */
}
