@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-marine-blue: hsl(213, 96%, 18%);
  --color-purplish-blue: hsl(243, 100%, 62%);
  --color-pastel-blue: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-strawberry-red: hsl(354, 84%, 57%);

  --color-cool-gray: hsl(231, 11%, 63%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-magnolia: hsl(217, 100%, 97%);
  --color-alabaster: hsl(231, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);
  --color-border: hsl(231, 23%, 87%);
  --color-mobile-background: hsl(218, 100%, 97%);
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", monospace;
}
.p-small {
  font-size: 1.2rem;
}

.p-medium {
  font-size: 1.4rem;
}

.p-large {
  font-size: 1.6rem;
}

.heading-small {
  font-size: 2rem;
}

.headingMedium {
  font-size: 3.2rem;
}

.heading-large {
  font-size: 3.4rem;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-border);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  border-radius: 1.5rem;
  background-color: white;
}

.mainPage {
  padding-top: 3.2rem;
  padding-left: 8rem;
  padding-right: 8rem;
  display: flex;
  flex-direction: column;
  gap: 9rem;
  position: relative;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: bottom;
}

.btn-back,
.btn-next,
.btn-confirm {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  border: none;
  outline: none;
}
.btn-back {
  background: none;
  color: var(--color-cool-gray);
}

.btn-next,
.btn-confirm {
  color: var(--color-white);
  border-radius: 0.8rem;
  padding: 1.4rem 2.5rem;
}

.btn-next {
  background-color: var(--color-marine-blue);
}

.btn-confirm {
  background-color: var(--color-purplish-blue);
}

:global(.active) {
  border: 1px solid var(--color-purplish-blue);
}

.error {
  color: var(--color-strawberry-red);
  font-size: 1.2rem;
  position: absolute;
  bottom: 8rem;
}

@media screen and (max-width: 23.5em) {
  .app {
    height: 100vh;
    justify-content: start;
    align-items: start;
    background-color: var(--color-white);
  }
  .main {
    flex-direction: column;
    background-color: var(--color-mobile-background);

    padding: 0;
    border-radius: 0;
  }

  .mainPage {
    margin: 1.6rem;
    padding: 0;
    background-color: var(--color-white);
    margin-top: -5rem;
    gap: 0;
  }
}
